<!-- <div class="flex flex-column h-full overflow-auto pb-4">
    <div class="grid grid-nogutter p-2 align-items-center">
        <div class="col-auto">
            <i class="pi pi-bars cursor-pointer" (click)="commonService.sidebarVisible=true"></i>
        </div>
        <div class="col text-2xl px-3">
            Search
        </div>
        <div class="col-auto">
            <p-button label="Today" [rounded]="true" size="small" (click)="today()"/>
        </div>
    </div>

    <div class="grid grid-nogutter p-2 align-items-center gap-3 ">
        <div class="col">
            <p-inputGroup [formGroup]="searchForm">
                <input type="text" pInputText placeholder="Search events" formControlName="query"/>
                <button type="button" pButton icon="pi pi-search" (click)="search()"></button>
            </p-inputGroup>
        </div>
    </div>

    <div class="grid grid-nogutter p-2">
        @for (event of events; track $index) {
            <div class="col-12 p-2">
                <div class="grid p-3 cursor-pointer border-round-lg" style="background-color: #ECF6FF;" (click)="updateEvent(event)">
                    <div class="col">Tag: {{event.tag.name}}</div>
                    <div class="col-auto">
                        <input type="color" class="form-control form-control-color" [value]="event.tag.color" disabled>
                    </div>
                    <div class="col-12">
                        Title: {{event.title}}
                    </div>
                    <div class="col-12">
                        Description: {{event.description}}
                    </div>
                </div>
            </div>
            }
    </div>
</div>

@if (!events.length) {
    <div class="absolute left-50 top-50 translate-middle text-center">
        Search for events, tags, description
    </div>
}
 -->
