<div class="container-fluid p-3">
    <div class="row mb-4">
        <div class="col-auto me-auto" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
        </div>
        <div class="col-auto ms-auto" role="button" routerLink="/dashboard/calendar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-event" viewBox="0 0 16 16">
                <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </div>
    </div>
</div>
<div class="container pb-2">
    <div class="row" role="search">
        <div class="col" [formGroup]="searchForm">
            <input class="form-control" type="search" placeholder="Search for events" formControlName="query">
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
        </div>
    </div>
</div>
<div class="container">
    @for (event of events; track $index) {
    <div class="card rounded-3 p-2 my-3" role="button" (click)="eventForm.patchValue(event);openDialog.emit();" style="background-color: #ECF6FF;">
        <div class="row align-items-center">
            <div class="col">
                {{event.tag.name}}
            </div>
            <div class="col-auto">
                <input type="color" class="form-control form-control-color" [value]="event.tag.color" disabled>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col fw-bolder">
                {{event.title}}
            </div>
            <div class="col-auto">
                <div class="rounded-3 px-1" [style]="todayDate == event.date ? 'background-color: #a2ddff;': ''">
                    {{event.date | date: 'dd MMMM yyyy'}}
                </div>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col">
                {{event.description}}
            </div>
        </div>
    </div>
    }
</div>

<app-event-dialog [openModel]="openDialog" [hideModel]="hideDialog" [eventForm]="eventForm" [tags]="tags" (updateEvent)="updateEvent()" (deleteEvent)="deleteEvent()" />
