<p-sidebar [(visible)]="commonService.sidebarVisible" styleClass="w-15rem">
    <div class="flex flex-column h-full">
        <div class="text-center border-round-md py-3 my-2 cursor-pointer" routerLink="calendar" routerLinkActive="offcanvas-active-button" (click)="commonService.sidebarVisible=false">
            <i class="pi pi-calendar"></i>
            <div>Calendar</div>
        </div>
    
        <div class="text-center border-round-md py-3 my-2 cursor-pointer" routerLink="tags" routerLinkActive="offcanvas-active-button" (click)="commonService.sidebarVisible=false">
            <i class="pi pi-tags"></i>
            <div>Tags</div>
        </div>
    
        <div class="text-center border-round-md py-3 mt-2 mb-auto cursor-pointer" routerLink="search" routerLinkActive="offcanvas-active-button" (click)="commonService.sidebarVisible=false">
            <i class="pi pi-search"></i>
            <div>Search</div>
        </div>
        
        @if (router.url.includes('calendar')) {
        <div class="text-center border-round-md py-3 my-2 cursor-pointer" [class]="settingsService.settingsForm.listView? 'offcanvas-active-button': ''" (click)="settingsService.toggleListView()">
            <i class="pi pi-list"></i>
            <div>List View</div>
        </div>
    
        <div class="text-center border-round-md py-3 my-2 cursor-pointer" [class]="settingsService.settingsForm.showTitles? 'offcanvas-active-button': ''" (click)="settingsService.toggleShowTitles()">
            <i class="pi pi-eye"></i>
            <div>Show titles</div>
        </div>
        }

        <div class="text-center border-round-md  py-3 my-2 cursor-pointer" (click)="logout();commonService.sidebarVisible=false" style="background-color: #FA6161;">
            <i class="pi pi-sign-out"></i>
            <div>Logout</div>
        </div>
    </div>
</p-sidebar>

<router-outlet></router-outlet>