<div class="flex flex-column h-full overflow-auto pb-4">
    <div class="grid grid-nogutter p-2 align-items-center">
        <div class="col-auto">
            <i class="pi pi-bars cursor-pointer" (click)="commonService.sidebarVisible=true"></i>
        </div>
        <div class="col text-2xl px-3">
            Events
        </div>
        <div class="col-auto">
            <p-button label="Today" [rounded]="true" size="small" (click)="today()"/>
        </div>
    </div>
    <div class="grid grid-nogutter p-2">
        <div class="col text-2xl">
            {{year+'-'+month+'-'+date | date: 'dd MMMM yyyy'}}
        </div>
    </div>

    <div class="grid grid-nogutter p-2">
        @for (event of events; track $index) {
            <div class="col-12 p-2">
                <div class="grid p-3 cursor-pointer border-round-lg" style="background-color: #ECF6FF;" (click)="updateEvent(event)">
                    <div class="col">Tag: {{event.tag.name}}</div>
                    <div class="col-auto">
                        <input type="color" class="form-control form-control-color" [value]="event.tag.color" disabled>
                    </div>
                    <div class="col-12">
                        Title: {{event.title}}
                    </div>
                    <div class="col-12">
                        Description: {{event.description}}
                    </div>
                </div>
            </div>
            }
    </div>
</div>


@if (events.length == 0) {
<div class="absolute left-50 top-50 translate-middle">
    No events, add them.
</div>
}

<p-button class="absolute bottom-0 right-0 m-2" label="Add event" [rounded]="true" size="small" (click)="addEvent();"/>

<app-event-dialog [(visible)]="openDialog" [eventForm]="eventForm" [tags]="tags" (success)="getEvents()"/>