<div class="container-fluid p-3">
    <div class="row mb-4">
        <div class="col-auto me-auto" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
        </div>
        <div class="col fs-5">
            {{dateObj | date: 'dd MMMM yyyy'}}
        </div>
        <div class="col-auto ms-auto" role="button" routerLink="/dashboard/calendar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
            </svg>
        </div>
    </div>
</div>

<div class="container">
    @for (event of events; track $index) {
    <div class="row card d-flex flex-row rounded-3 align-items-center p-2 my-1" role="button" (click)="eventForm.patchValue(event);dialog?.show()" style="background-color: #ECF6FF;">
        <div class="col">
            {{event.tag.name}}
        </div>
        <div class="col-auto">
            <input type="color" class="form-control form-control-color" [value]="event.tag.color" disabled>
        </div>
        <div class="col-12">
            {{event.description}}
        </div>
    </div>
    }
</div>

@if (events.length == 0) {
<div class="position-absolute start-50 top-50 translate-middle">
    No events, add them.
</div>
}

<button class="btn btn-primary btn-sm rounded-3 position-absolute bottom-0 end-0 m-3"
    (click)="eventForm.reset();dialog?.show()">Add Event</button>


<div class="modal fade" id="eventDialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5">{{eventForm.getRawValue().id ? 'Update event' : 'Add event'}}</h1>
            </div>

            <div class="modal-body container" [formGroup]="eventForm">
                @if (tags.length == 0) {
                <div class="row">
                    <div class="col">
                        No tags, please add them <a routerLink="/dashboard/tags" (click)="dialog?.hide()">here</a>.
                    </div>
                </div>
                }
                <div class="row py-1">
                    <div class="col">
                        <select class="form-select" formControlName="tag_id">
                            @for (tag of tags; track $index) {
                            <option [value]="tag.id">{{tag.name}}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row py-1">
                    <div class="col">
                        <textarea class="form-control" rows="3" formControlName="description"
                            placeholder="Description"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                @if (eventForm.getRawValue().id) {
                <button type="button" class="btn btn-danger me-auto" (click)="deleteEvent()">Delete</button>
                }

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="dialog?.hide()">Close</button>
                <button type="button" class="btn btn-primary"
                    (click)="eventForm.getRawValue().id ? updateEvent() : addEvent()"
                    [disabled]="!eventForm.valid">{{eventForm.getRawValue().id ? 'Update' : 'Add'}}</button>
            </div>

        </div>
    </div>
</div>