<div class="col-12 p-3">
    <h2>Kalendar: Your Personal Calendar App</h2>
    <div class="mt-3">
        Kalendar is your personalized calendar app designed to help you recall important events and track your habits. With Kalendar, you can easily access event statistics, search for specific events, and stay organized.    </div>
    <div class="mt-3">
        Here's what it brings to the table:
        <ul>
            <li>Adding and Deleting Events</li>
            <li>Adding and Deleting Tags</li>
            <li>Google Authentication</li>
            <li>Searching for Events (Planned)</li>
            <li>Events Statistics (Planned)</li>
            <li>Sharing Options (Planned)</li>
        </ul>
    </div>
    <div>
        Do read our Privacy Policy <a href="/privacy">here</a> 
    </div>
    
</div>