<div class="container position-absolute top-50 start-50 translate-middle text-center">
    <div class="row py-2">
        <div class="col">
            <img class="rounded-circle" src="assets/logo.jpg" width="160">
        </div>
    </div>
    <div class="row py-2">
        <div class="col-12 display-3">
            Welcome to Kalendar
        </div>
        <div class="col-12 fs-4">
            Remember all your events 
        </div>
    </div>
    <div class="row py-2">
        <div class="col-12">
            @if (isloggedIn) {
                <div class="btn btn-primary btn-sm" routerLink="/dashboard">Dashboard</div>
            } @else {
                <div class="btn btn-primary btn-sm" (click)="login()">Login</div>
            }
        </div>
    </div>
</div>