<div class="modal fade" id="eventDialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5">{{eventForm.getRawValue().id ? 'Update event' : 'Add event'}}</h1>
            </div>

            <div class="modal-body container" [formGroup]="eventForm">
                @if (tags.length == 0) {
                <div class="row">
                    <div class="col">
                        No tags, please add them <a routerLink="/dashboard/tags" (click)="dialog?.hide()">here</a>.
                    </div>
                </div>
                }
                <div class="row py-1">
                    <div class="col">
                        <select class="form-select" formControlName="tag_id">
                            @for (tag of tags; track $index) {
                            <option [value]="tag.id">{{tag.name}}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row py-1">
                    <div class="col">
                        <textarea class="form-control" rows="3" formControlName="description"
                            placeholder="Description"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                @if (eventForm.getRawValue().id) {
                <button type="button" class="btn btn-danger me-auto" (click)="deleteEvent.emit()">Delete</button>
                }

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="dialog?.hide()">Close</button>
                <button type="button" class="btn btn-primary"
                    (click)="eventForm.getRawValue().id ? updateEvent.emit() : addEvent.emit()"
                    [disabled]="!eventForm.valid">{{eventForm.getRawValue().id ? 'Update' : 'Add'}}</button>
            </div>

        </div>
    </div>
</div>