<p-dialog [header]="eventForm.getRawValue().id ? 'Update event' : 'Add event'" [modal]="true" [(visible)]="visible" [draggable]="false" [formGroup]="eventForm" (onHide)="visibleChange.emit(visible)" [contentStyle]="{'overflow':'visible'}" [focusOnShow]="false">
    @if (tags.length == 0) {
        <div class="mb-5">
            No tags, please add them <a href="/dashboard/tags">here</a>.
        </div>
    }

    <div class="flex align-items-center gap-3 my-2">
        <label class="font-semibold w-6rem">Date</label>
        <p-calendar formControlName="date" dateFormat="yy-mm-dd" dataType="string"/>
    </div>

    <div class="flex align-items-center gap-3 my-2">
        <label class="font-semibold w-6rem">Tag</label>
        <p-dropdown [options]="tags" optionLabel="name" optionValue="id" placeholder="Select a Tag" formControlName="tag_id"/>
    </div>

    <div class="flex align-items-center gap-3 my-2">
        <label class="font-semibold w-6rem">Title</label>
        <input pInputText class="flex-auto" formControlName="title"/>
    </div>

    <div class="flex align-items-center gap-3 mt-2">
        <label class="font-semibold w-6rem">Description</label>
        <textarea rows="5" pInputTextarea class="flex-auto" formControlName="description"></textarea>
    </div>
    
    <p-footer class="flex">
        @if (eventForm.getRawValue().id) {
            <p-button label="Delete" severity="danger" size="small" (onClick)="deleteEvent()" />
        }

        <p-button class="ml-auto" label="Close" severity="secondary" size="small" (onClick)="visible = false" />
        <p-button label="Save" size="small" (click)="saveEvent()" [disabled]="!eventForm.valid"/>
    </p-footer>
</p-dialog>