<h2 mat-dialog-title>{{eventForm.getRawValue().id ? 'Edit Event' : 'Add Event'}}</h2>
<mat-dialog-content class="d-flex flex-column" [formGroup]="eventForm">
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" cdkAutosizeMinRows="2"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Choose a Tag</mat-label>
        <mat-select formControlName="tag_id">
            @for (tag of tags; track $index) {
            <mat-option [value]="tag.id">{{tag.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="d-flex">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial [disabled]="loader" (click)="onSaveClick.emit()">
        @if (loader) {
        <mat-progress-spinner diameter="24" mode="indeterminate"></mat-progress-spinner>
        } @else {
        Ok
        }
    </button>
</mat-dialog-actions>