<nav class="d-flex align-items-center position-relative">
    <div class="d-flex position-absolute align-items-center justify-content-center w-100">
        <button mat-button routerLink="/calendar" class="px-0">Calendar</button>
        <button mat-button routerLink="/tags" class="px-0">Tags</button>
        <button mat-button routerLink="/events" class="px-0">Events</button>
    </div>
    <div class="fw-bold me-auto">Kalendar</div>
    <button mat-icon-button class="d-flex align-items-center" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</nav>
