<div class="flex flex-column h-full overflow-auto pb-4">
    <div class="grid grid-nogutter p-2 align-items-center">
        <div class="col-auto">
            <i class="pi pi-bars cursor-pointer" (click)="commonService.sidebarVisible=true"></i>
        </div>
        <div class="col text-2xl px-3">
            Tags
        </div>
        <div class="col-auto">
            <p-button label="Today" [rounded]="true" size="small" (click)="today()"/>
        </div>
    </div>
    <div class="grid grid-nogutter p-2">
        @for (tag of tags; track $index) {
        <div class="col-12 p-2">
            <div class="grid p-3 cursor-pointer align-items-center border-round-lg" style="background-color: #ECF6FF;" (click)="tagForm.patchValue(tag); tagDialogVisible=true">
                <div class="col">{{tag.name}}</div>
                <div class="col-auto px-3">
                    {{tag.color}}
                </div>
                <div class="col-auto">
                    <input  type="color" [value]="tag.color" disabled>
                </div>
            </div>
        </div>
        }
    </div>
</div>

<p-button class="absolute bottom-0 right-0 m-2" label="Create tag" [rounded]="true" size="small" (click)="tagForm.reset({color: '#000000'});tagDialogVisible=true"/>

@if (tags.length == 0) {
    <div class="absolute left-50 top-50 translate-middle">
        No tags, add them.
    </div>
}

<p-dialog [header]="tagForm.getRawValue().id ? 'Update tag' : 'Create tag'" [modal]="true" [(visible)]="tagDialogVisible" [draggable]="false" [formGroup]="tagForm" [contentStyle]="{'overflow':'visible'}">
    <div class="flex align-items-center gap-3 my-2">
        <input pInputText class="flex-auto" formControlName="name" placeholder="Tag name"/>
        <p-colorPicker formControlName="color"></p-colorPicker>
    </div>
    
    <p-footer class="flex">
        @if (tagForm.getRawValue().id) {
            <p-button label="Delete" severity="danger" size="small" (onClick)="deleteTag()" />
        }

        <p-button class="ml-auto" label="Close" severity="secondary" size="small" (onClick)="tagDialogVisible = false" />
        <p-button label="Save" size="small" (click)="saveTag()" [disabled]="!tagForm.valid"/>
    </p-footer>
</p-dialog>
