/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Inter;
    src: url(assets/Inter.ttf) format("opentype");
}

html,
body {
    height: 100%;
    font-family: 'Inter';
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.hover {
    transition: 300ms;
}

.hover:hover {
    transform: scale(1.06);
}

.offcanvas-active-button {
    background-color: #a2ddff;
}

@media screen and (max-width: 800px) {
    .day-text {
        font-size: 0px;
    }
    .day-text::first-letter {
        font-size: 16px;
    }
    .badge {
        width: 10px;
        height: 10px;
        font-size: 0px !important;
        border-radius: 50%;
        line-height: 20px;
        margin: 1px !important;
    }
    .today {
        background-color: #a2ddff;
    }
  }