/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@font-face {
    font-family: Inter;
    src: url(assets/Inter.ttf) format("opentype");
}

html,
body {
    height: 100%;
    font-family: 'Inter';
    font-size: 14px;
    margin: 0px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.p-card {
    height: 100%;
    background: bisque;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.offcanvas-active-button {
    background-color: #a2ddff;
}

.translate-middle {
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
    .day-text {
        font-size: 0px;
    }
    .day-text::first-letter {
        font-size: 16px;
    }
    .badge {
        font-size: 0px !important;
    }
    .today {
        background-color: #a2ddff;
    }
  }