<div class="d-flex flex-column h-100 p-2">
    <app-header />

    <div class="d-flex align-items-center">
        <div class="hide-in-mobile me-auto fs-3">{{year+'-'+month+'-01' | date: 'MMMM yyyy'}}</div>
        <div class="hide-in-desktop me-auto fs-3">{{year+'-'+month+'-01' | date: 'MMM yyyy'}}</div>

        <button mat-icon-button class="d-flex align-items-center" (click)="prevMonth()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button class="d-flex align-items-center" (click)="nextMonth()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button mat-stroked-button class="p-3" (click)="today()">Today</button>

        <button mat-flat-button class="ms-1 p-1 hide-in-desktop" (click)="openAddEventDialog()">
            <mat-icon class="m-0">add</mat-icon>
        </button>
        <button mat-flat-button class="ms-1 p-3 hide-in-mobile" (click)="openAddEventDialog()">
            <mat-icon>add</mat-icon>
            <span>Add Event</span>
        </button>
    </div>

    <div class="d-flex flex-column h-100 mt-2">
        <div class="calendar-grid text-center py-2">
            @for (item of weekdays; track $index) {
            <div>{{item.substring(0,3).toUpperCase()}}</div>
            }
        </div>
        <div class="calendar-grid h-100 p-2">
            @for (item of days; track $index) {
            <div>
                @if (item) {
                <div role="button" class="border  rounded-3 d-flex flex-column h-100 align-items-center position-relative overflow-hidden" [routerLink]="item.date | date: 'dd'">
                    <div class="w-100 text-center my-1" style="max-width: 100px;" [ngClass]="(todayDate | date: 'dd MM yyyy')  == (item.date | date: 'dd MM yyyy') ? 'rounded-pill badge-colors' : ''">
                        {{item.date | date: 'dd'}}
                    </div>
                    <div class="d-flex flex-column gap-1 position-absolute top-0 pt-4 mt-2">
                        @for(event of item.events; track $index) {
                            <div class="position-relative hide-in-mobile" style="width: 86px; height: 20px">
                                <div class="d-flex h-100 opacity-25 rounded-pill" [style]="'background-color:' + event.tag.color"></div>
                                <div class="position-absolute d-flex top-0 w-100 h-100 align-items-center justify-content-center gap-1">
                                    <div [style.background-color]="event.tag.color" style="padding: 5px;" class="rounded-circle"></div>
                                    <small>{{event.tag.name}}</small>
                                </div>
                            </div>
                            <div class="hide-in-desktop">
                                <div [style.background-color]="event.tag.color" style="padding: 5px;" class="rounded-circle"></div>
                            </div>
                        }
                    </div>
                </div>
                }
            </div>
            }
        </div>
    </div>
</div>
